@charset "UTF-8";
/* CSS Document */

.bglogo{
	margin-top:55px;
	margin-left:25px;
	}


.title {
	font-size:14px;
	color:#666666;
	line-height:18px;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-weight:600;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom:dotted 1px #03436A;
	margin-bottom:10px;
	padding-bottom:3px;
}


.headline {
	font-size:28px;
	color:#cc0066;
	font-weight:200;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-bottom:20px;
}


.title-w {
	font-size:14px;
	color:#FFF;
	line-height:18px;
	text-transform:uppercase;
	text-shadow:#FFF;
	letter-spacing: 1px;
	font-weight:600;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom:dotted 1px #FFF;
	margin-bottom:10px;
	padding-bottom:3px;
}

.header {
	background-color:#cc0066;
	margin-top:0px;
	height:40px;
}

.purple-box {
	margin-top:10px;
}


.songlist {
	line-height:32px;
	padding: 0px 10px 0px 10px; 
	margin-right:35px;
}


.list {
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	line-height:22px;
}


.list-white {
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	line-height:22px;
}


.rollover{
	background-color:#EAF7F7;
	height:65px;
	line-height:30px;
}


.band {
	font-weight:700;
}

.venue {
	margin-left:15px;
}

.small-gray {
	font-weight:400;
	font-size:12px;
	color:#666;
}

.band2 {
	font-weight:700;
	text-transform:uppercase;
	color:#666;
	line-height:36px;
	font-size:12px;
	border-bottom: dotted 1px #A6ACB9;
}


.green-plus {
	font-size:16px;
	font-weight:700;
	color:#A6ACB9;
}


.comingup {
	background-color:#666666;
	padding:10px;
}

.playlist {
background-color:#e9e9e9;
padding:10px;
}

.nowplaying {
background-color:#cc0066;
padding:10px;
}


.center{
	background-position:center;
	text-align:center;
}


.med-text-white {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
}

.album {
	color:#666;
	font-style:italic;
}

.album-w {
	color:#CCC;
	font-style:italic;
}


.right {
	float:right;
	margin-right:15px;
}


.med-text-grey {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666;
	font-style:italic;
}


.med-text-black {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
}


.body-text-white {
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
}


* {
	margin: 0;
}

html{
	height: 100%;
}

	
#nav li ul {
	padding-left:20px;
	line-height:16px;
}

tr.songRow {
    background-color:#e9e9e9
}

tr.songRowAlt {
    background-color:#ffffff
}

tr.songRow:hover {
    background-color:#ddddff;
}

tr.songRowAlt:hover {
    background-color:#ddddff;
}